$colors: (
  'primary': #007bff,
  'primary-dark': #0062cc,
  'secondary': #6c757d,
  'white': #fff,
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

.modal-open {
  overflow: hidden;
}
.modal {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: none;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1050;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
  position: relative;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 20px 30px 30px 30px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.close {
  color: #000;
  filter: alpha(opacity=20);
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
[role='button'] {
  cursor: pointer;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.btn-teste {
  background-color: #000;
  color: #fff;
}

.modal-content-canvas {
  display: flex;
  justify-content: center;
}

#pdfcanvas {
  border: 1px solid;
  left: 0;
  top: 0;
  z-index: 0;
}

.canvas-content {
  width: 100%;
}

.canvas-content > canvas {
  border: 1px solid #ccc;
}

.content-header-modal-document {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fallback-font-canvas {
  display: inline-block;
  font-family: Countryside-Personal-Use;
  height: 0;
  opacity: 0;
  width: 0;
}

// Buttons

.btn {
  border-radius: 5px;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  padding: 6px 12px;
  text-align: center;
  transition: color 0.25s;
  vertical-align: middle;
  white-space: nowrap;
  will-change: color;

  &__primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:focus {
      outline: none;
    }
  }

  &__white {
    background: var(--color-white);
    border: 1px solid #e7eaec;
  }

  &--sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

.modal-content {
  width: 900px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

// input formcontrol
.form-control {
  border: 1px solid #ddd;
  border-radius: 0;
  outline: none;

  &:focus,
  &:hover {
    border: 1px solid var(--color-primary) !important;
  }
}

.page-count {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .modal-dialog {
    width: 900px;
  }
}

// Subscriber signature
.subscriber {
  align-items: center;
  bottom: 0;
  color: #000;
  display: flex;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  height: auto;
  justify-content: flex-start;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.subscribed {
  bottom: 0;
  color: #000;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
