.hidden {
  display: none;
}
.open {
  display: block !important;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 100px;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
[role="button"] {
  cursor: pointer;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.btn-teste {
  background-color: #000;
  color: #fff;
}

.modal-content-canvas {
  display: flex;
  justify-content: center;
}

#pdfcanvas {
  border: 1px solid;
  left: 0;
  top: 0;
  z-index: 0;
}

#posicaocanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#img-canvas {
  border: 1px solid;
}

.buttonSelected {
  background-color: gray;
  color: white;
}

.area-selecao {
  background-color: white;
  position: absolute;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  /* width: 100%; */
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.btnMovePage {
  font-size: 50px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

.item-participante {
  list-style: none;
  padding: 10px !important;
  cursor: grab;
  background-color: #fafafa;
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.removed {
  animation: slideToRight 300ms forwards;
}

@keyframes slideToRight {
  0% {
    transform: translateX(0px);
  }

  20% {
    transform: translateX(20px);
  }

  40% {
    transform: translateX(40px);
    opacity: 0.8;
  }

  60% {
    transform: translateX(45px);
    opacity: 0.6;
  }

  80% {
    transform: translateX(50px);
    opacity: 0.4;
  }

  100% {
    transform: translateX(55px);
    opacity: 0;
  }
}

.custom-icon {
  font-size: 1.3rem;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 28px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-select {
  color: #f8ac59;
  margin-right: 5px;
}

.icon-remove {
  color: red;
}

.custom-icon.icon-remove:hover {
  border: 1px solid red;
  color: #fff;
  background-color: red;
}

.custom-icon.icon-select:hover {
  border: 1px solid #f8ac59;
  color: #fff;
  background-color: #f8ac59;
}

.text-participant {
  font-size: 15pt;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  margin-bottom: 7px;
  padding-bottom: 2px;
  font-family: "Montserrat", sans-serif;
}

.modal-content-canvas {
  display: flex;
  justify-content: center;
}

.canvas-content {
  padding: 0px 5px;
}

.canvas-content > canvas {
  border: 1px solid #ccc;
}

.btn-modal {
  cursor: pointer;
  padding: 0px;
  height: 100%;
}

.signature-area-selected {
  background: rgba(26, 179, 148, 0.7);
  color: #fff;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
}

.table-resumo tr,
td {
  font-weight: 700;
}

.page-count {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
}

.content-header-modal-document {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.package-select {
  background-color: #faebd7;
}

/* pdf annotation */
#annotation-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

#annotation-layer > section {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

#annotation-layer > .linkAnnotation > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.subscriber {
  position: absolute;
  font-size: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Countryside-Personal-Use;
}

.subscribed {
  position: absolute;
  font-size: 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #000;
  font-family: Countryside-Personal-Use;
}

.fallback-font-canvas {
  font-family: Countryside-Personal-Use;
  opacity: 0;
  height: 0;
  width: 0;
  display: inline-block;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
