.btn {
  // width: 100px;
  // height: 40px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;

  &--success {
    background-color: #076633;
    color: #fff;

    &:hover {
      background-color: darken(#076633, 5);
    }
  }
}